@charset "UTF-8";

@keyframes suavisar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes movex {
  from {
    opacity: 0;
    transform: translatey(50%);
  }
  to {
    opacity: 1;
    transform: translatey(0%);
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eff3f4;
  color: black;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
}

form .svgContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 1em;
  border-radius: 50%;
  background: none;
  border: solid 2.5px #3a5e77;
  overflow: hidden;
  pointer-events: none;
}

form .svgContainer div {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

form .svgContainer .mySVG {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

form input[type='email'],
form input[type='text'],
form input[type='password'] {
  display: block;
  margin: 0;
  background-color: #f3fafd;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  font-size: 1.25em;
  color: #353538;
  font-weight: 600;
  font-family: inherit;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
  padding: 20px 0px 0px 20px;
}

form input[type='name']:focus,
input[type='email']:focus,
input[type='telefone']:focus,
form input[type='text']:focus,
form input[type='email']:focus,
form input[type='password']:focus {
  outline: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

form button {
  display: block;
  background-color: #4eb8dd;
  color: #fff;
  margin: 0;
  padding: 1em;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  font-weight: 600;
  font-family: inherit;
  transition: background-color 0.2s ease-out;
}
form button .button-dark {
  display: block;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 1em;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  font-weight: 600;
  font-family: inherit;
  transition: background-color 0.2s ease-out;
}

form button:hover,
form button:active {
  background-color: #217093;
}

.container {
  animation-name: movex;
  animation-duration: 3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-dark-mode {
  display: flex;
  align-self: flex-end;
}

.button-dark-mode {
  cursor: pointer;
}

.dark-mode {
  background-color: black;
  color: white;
}
.img-dark {
  margin-top: -45px;
  width: 100px;
  height: 100px;
}

.input-field {
  position: relative;
  margin-bottom: 10px;
  width: 300px;
}

.input-field input:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.input-field label {
  font-size: 1em;
  color: #217093;
  font-weight: 700;
  font-family: inherit;
  position: absolute;
  padding: 10px 10px 10px 10px;
  top: 15px;
  transition: 0.2s ease-out;
}

.lnr {
  font-size: 20px;
  position: absolute;
  top: 23px;
  right: 20px;
  cursor: pointer;
}
